

.song {
    color: #262626;
    text-align: center;

    max-width: 24em;
    margin: 0 auto 2em;
    position: relative;

    box-sizing: border-box;

    background-color: #fff;
    border-radius: 0.75em;

    border: 1px solid black;
    overflow: hidden;
}

.song .inside {
    padding: 1.35em 1.75em 1.75em;
}

.song h2 {
    font-size: inherit;
    line-height: 1.5em;
    margin: 0;
}

.song .player {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5em;
}

.song img {
    width: 5em;
    border: 3px solid #262626;
}

.song audio {
    outline: none;
    max-width: 14em;
    border: 1px solid #262626;
    background: #262626;
    color: red;
}

.song audio::-webkit-media-controls-panel,
.song audio::-webkit-media-controls {
    background: #fff;
}


.song .meta {
    width: 100%;
    font-size: 0.75em;
    font-weight: 800;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.9);

    padding: 1.5em 2.25em;
    background-color: rgba(0, 0, 0, 0.9);

}

/* Responsive */
@media screen and ( max-width: 520px ) {
    .song {
        margin: 0 0.5em 2em;
    }
    .song .inside {
        padding: 1.35em .75em .75em;
    }
    .song .inside h2 {
        text-align: center;
    }
    .song img {
        width: 6em;
        border-radius: 50%;
        border: none;
    }
    .player audio {
        margin: 1.5em auto 0.5em;
        max-width: 100%;
    }
    .song .player {
        flex-direction: column;
    }
    .song .meta {
        text-align: center;
    }
}

.song-enter-active,
.song-exit-active {
    transition: all 0.2s;
}

.song-enter {
    opacity: 1;
    transform: scale(0.85);
}

.song-enter-active {
    opacity: 1;
    transform: translateX(0);
}

.song-exit {
    opacity: 1;
}

.song-exit-active {
    opacity: 0;
    transform: scale(0.85);
}